@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Welcome to DoggyDaycare!</h1>

<a button type="button" class="btn btn-success" asp-area="" asp-page="/Create">
    Add Appointment
</a>